*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --main-background-color: #FFF; 
  --font-color1: #000B0A;
  --font-color2: #737373;
  --font-color3: #011C34;
  --border-color1: #F0F0F0; 
  --border-color2: #f5fffe;
  --border-color3: #2EC4B6;
  --icon-color: #A6A6A6;
}

body{
  font-family: 'Mulish', sans-serif;
  background-color: var( --border-color2);
}

.container{ 
  max-width: min(100%, 1440px);
  margin: 0 auto;
}

.time-network-container{
  display: none;
}

.sign-up-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px 60px;
}

.sign-up-header{
  width: 40%;
  text-align: left;
}

.sign-up-header .logo img{
  width: 77px;
  height: 80px;
  margin-bottom: 20px;
}

.sign-up-header h1{
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--font-color1);
}

.sign-up-header p{
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--font-color2);
}

.sign-up-form{
  width: 47%;
  border-radius: 6px;
  background: #FFF;
  margin-top: 80px;
  box-shadow: 0px 4px 50px 0px rgba(4, 8, 19, 0.10);
}

form{
  padding: 50px 40px;  
}

.first-last-name,
.gender-dateof-birth, 
.weight-height{
  display: flex;
  justify-content: space-between;
  align-items: center;    
}

label{
  display: grid;
  font-size: 14px;
  font-weight: 700;
}

.input, 
.select{
  width: 238px;
  height: 48px;   
  font-size: 14px;
  border-radius: 3px;
  margin: 7px 0px 30px;
  padding-left: 10px;
  border: 1px solid var(--border-color1);
  color: var(--icon-color);
  outline: none; 
}

::placeholder{
  font-size: 14px;  
  color: var(--icon-color);
}

.first-last-name .first-name{
  border: 1px solid var(--border-color3);
}

.first-last-name .first-name::placeholder{
  color: var(--font-color1);
  font-weight: 500;
}

.password{
  position: relative;
}

.activity-select, 
.password-input{
  width: 100%;
  height: 48px;  
  font-size: 14px;
  border-radius: 3px;
  margin: 7px 0px 30px;
  padding-left: 10px;
  border: 1px solid var(--border-color1);
  color: var(--icon-color);
  outline: none;  
}

.fa-eye{
  position: absolute; 
  right: 5px; 
  top: 40px; 
  color: gray;
}

.button-container button{
  width: 100%;
  height: 48px; 
  border-radius: 3px;
  border: none;
  background-color: var(--border-color3);
  color: var(--main-background-color);
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.privacy p{
  font-size: 14px;
  text-align: center;
  font-weight: 500;
}

.privacy p a{
  text-decoration: none;
  color: var(--border-color3);
  font-weight: 700;
}


@media screen and (max-width: 767px) {

  html, body{
    overflow-x: hidden;
  }

  .time-network-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
  }

  .sign-up-container{
    display: block;
    padding: 30px 25px 30px;
  }
  
  .sign-up-header{
    width: 100%;
  }
  
  .sign-up-header .logo img{
    width: 60px;
    height: 80px;
    margin-bottom: 20px;
  }
  
  .sign-up-header h1{
    font-size: 35px;
  }
  
  .sign-up-form{
    width: 100%;    
    margin-top: 40px;
  }

  form{
    padding: 40px 20px;  
  }

  .first-last-name, 
  .gender-dateof-birth, 
  .weight-height{
    display: block;
  }
  
  .input, 
  .select{
    width: 100%;
    max-width: 767px;
  }  
}

@media screen and (min-width: 767px) and (max-width: 1350px) {
  .sign-up-container{
    padding: 0px 20px;
  }

  form{
    padding: 40px 20px;  
  }

  .first-last-name, 
  .gender-dateof-birth, 
  .weight-height{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
  }

  .input, 
  .select{
    width: 100%;
    max-width: 1350px;
  }  
}